/*
.navbar {
	background-color: #FFFFFF;
	padding: 0.5% 0;
	font-size: 1.2em;
	border-width: 0;
	margin: 0;
}

.navbar-brand{
	padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
	color: #545454;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{
	color: #121212;
	font-weight: bold;
}
*/

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

/*
.carousel .owl-item{
    height:285px;
    width:100%;
}

.carousel .owl-item img{
    height:285px;
    width:100%;
}
*/
.landing-text h1{
	font-size: 500%;
	font-width: 700;
}

.padding{
	padding: 80px 0;
}

.padding img{
	width: 100%;
}

.sub-header{
	padding-bottom: 15px;
}

footer {
	width: 100%;
	background-color: #23415C;
	padding: 5% 5% 10% 5%;
	color: #FFFFFF;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #FFFFFF;
}

.fa:hover {
	color: #D5D5D5;
	text-decoration: none;
}

.icon {
	max-width: 200px;
}

.avatar {
	border-radius: 50%;
}

@media (max-width: 768px){
	.landing-text h1 {
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	.icon {
		padding-top: 5%;
		max-width: 100px;
	}
}